@charset "utf-8";
/* CSS Document */

header {
	background: #FFFFFF;
	width: 100%;
	height: 70px;
	display: block;
	margin: 0;
	padding: 0;
	
}

#header_logo_wrapper {
	width: 100%;
	text-align: center;
}

h1 {
	width: 100%;
	margin: 0 auto;
}

#header_logo {
	height: 70px;
	width: auto;
}

#sp_nav_wrapper {
	display: block;
	visibility: visible;
	position: absolute;
	top: 25px;
	right: 10px;
	width: 50px;
	height: 50px;
}

#sp_nav_button,
#sp_nav_button::before,
#sp_nav_button::after {
	content: "";
	display: block;
	width: 40px;
	height: 5px;
	background: #000000;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
}

#sp_nav_button {
	position: relative;
	margin: 5px 0;
}

#sp_nav_button::before,
#sp_nav_button::after {
	position: absolute;
}

#sp_nav_button::before {
	top: 10px;
}

#sp_nav_button::after {
	bottom: 10px;
}

.sp_nav_button_active {
	background: transparent!important;
}

.sp_nav_button_active::after{
	top: 0!important;
	transform: rotate(-45deg);
}

.sp_nav_button_active::before {
	top: 0!important;
	transform: rotate(45deg);
}

.header_global_nav_head,
.header_global_nav_head:hover {
	width: 100%;
	background: #FFFFFF;
	border-bottom: 0.5px #000000 solid;
}

.header_global_nav_head:first-child {
	border-top: 0.5px #000000 solid;
}

#header_global_nav_wrapper {
	position: absolute;
	top: 70px;
	left: 0;
	height: auto;
	/*min-height: calc(100% - 70px);*/
	background: #FFFFFF;
	height: 0;
	overflow: hidden;
	transition: 0.5s;
}

.header_global_sub_nav {
	width: 100%;
	top: 72px;
	position: static;
}

#footer_menu {
	display: none;
}

footer {
	display: block;
}

#footer_copyright {
	text-align: center;
}



#bread_crumb {
	width: calc(100% - 30px);
}

#main_content {
	width: calc(100% - 30px);
}

#header_global_nav {
	display: block;
	width: 100%;
}

.header_global_nav_category {
	display: block;
	width: 100%;
}

.manage_menu_link_wrapper {
	margin: 10px 0;
}

.manage_menu_link_list {
	margin: 10px 0;
	width: 170px;
}

.manage_menu_link,
.manage_menu_link:hover,
.manage_menu_link:visited {
	font-size: 18px;
}

.two_columns {
	display: block;
}
